.cms-editor-translation-wizard-review-table-header {
  position: sticky;
  top: 0;
  background: var(--N25);
  z-index: 2;
}

.cms-editor-translation-wizard-review-line-through {
  text-decoration-line: line-through;
}
